@use 'variables';
@import 'media-queries';

.hero {
	background-color: variables.$whitesmoke;
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		height: 90vh;
		widows: 100%;
		max-width: 1200px;
		margin-left: 1.25rem;
		margin-right: 1.25rem;
		z-index: 1;

		@include tablet {
			grid-template-columns: 1fr;
			height: 100%;
		}

		&--left {
			width: 100%;
			line-height: 1.2;

			@include tablet {
				padding: 5rem 0;
			}

			@include mobile {
				line-height: 1.5;
			}
		}

		&--left h1 {
			font-size: variables.$font-h1;
			font-family: variables.$font-f;
			color: variables.$primary;
			font-weight: 900;
			@include tablet {
				font-size: 1.5rem;
			}
		}

		&--left h2 {
			font-size: variables.$font-h1;
			font-family: variables.$font-f;
			color: variables.$primary;
			font-weight: 900;
			@include tablet {
				font-size: 1.5rem;
			}
		}
	}
}
