//Goolge Fonts
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;500;600;700;800;900&display=swap');

//===fonts====
$font-f: 'Kumbh Sans', sans-serif;
$font-p: 1rem;
$font-h1: 4rem;
$font-h2: 2.5rem;
$font-h3: 2rem;
//===colors====
$primary: #6c63ff;
$secondary: #63f8ff;
$dark: #36454f;
$white: #fff;
$black: #000;
$whitesmoke: #f5f5f5;
