@use 'variables';
@import 'media-queries';

.wrap {
	max-width: 70rem;
	margin: 0 auto;
	margin-top: 4rem;
	margin-bottom: 5rem;
	@include tablet {
		margin: 1.25rem;
	}
	@include mobile {
		margin: 3.25rem;
	}

	h1 {
		font-size: 3.25rem;
		margin-bottom: 1.25rem;
		font-family: variables.$font-f;
	}
	p {
		font-size: 1rem;
		font-family: variables.$font-f;
	}
}
