//@use 'variables';
@use 'variables';
@import 'header';
@import 'media-queries';
@import 'wrapper';

// reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

%btn {
	border-radius: 0.5rem;
	border: none;
	outline: none;
	font-size: 1rem;
	cursor: pointer;
	padding: 0.75rem 1.5rem;
	margin-bottom: 0.8rem;
	margin-right: 0.8rem;
	font-weight: 400;
	font-family: variables.$font-f;
	color: variables.$white;
	background-color: variables.$primary;
	position: relative;
	transition: all 0.3s ease;
}

.hero {
	max-width: 80rem;
	margin: 0 auto;
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content: center;
		height: 90vh;
		width: 100%;
		margin-left: 1.25rem;
		margin-right: 1.25rem;
		z-index: 10;

		@include tablet {
			//grid-template-columns: repeat(auto-fill, minmax(20rem 1fr));
			grid-template-columns: 1fr;
			height: 100%;
		}

		&--left {
			width: 100%;
			line-height: 1.2;

			@include tablet {
				padding: 5rem 0;
			}

			@include mobile {
				line-height: 1.5;
			}
		}

		&--left h1 {
			font-size: 1.5rem;
			color: variables.$primary;
			font-family: variables.$font-f;
			@include mobile {
				font-size: 1.5rem;
			}
		}

		&--left h2 {
			font-size: 4rem;
			font-family: variables.$font-f;
			font-weight: 900;
			@include mobile {
				font-size: 1.5rem;
			}
		}
		&--btn {
			@extend %btn;
			font-size: variables.$font-p;
			font-family: variables.$font-f;
			margin-top: 2rem;
			color: variables.$whitesmoke;
		}
		&--btn a {
			position: relative;
			color: variables.$white;
			z-index: 2;
		}
		&--btn:after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			transition: all 0.3s;
			border-radius: 0.5rem;
			background-color: orangered;
		}
		&--btn:hover:after {
			width: 100%;
		}
		&--right {
			text-align: center;
		}
		&--img {
			height: 100%;
			width: 100%;
		}
	}
}
